.ant-carousel .slick-slide {
    text-align: center;
    height: 100%;
    line-height: 100%;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  .ant-card-body {
    height: calc(100vh - 50vmin);
  }
  img {
    height: calc(100vh - 60vmin); 
    margin: 0 auto;
  }
  ul{
      padding: 0;
  }
  ul li{
      display: inline;
      margin-right: 40px;
      font-size: 20px;
  }